.header {
  font-family: Lato;
  background: transparent url('assets/images/Rectangle\ 40.svg') 0% 0% no-repeat !important;
  opacity: 1;
}

.button {
  top: 197px;
  left: 469px;
  width: 344px;
  height: 70px;
  border-radius: 10px;
  background: transparent url('assets/images/Base.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}